body{
    font-family: 'EB Garamond', serif;
    background-color: grey;
    width: 100%;
}


/* home */
.home{
    display: flex;
    flex-direction: row;
}

.home img{
    margin-top: 5%;
    margin-bottom: 5%;
}

.home .left{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2%;
    margin-top: 5%;
}

.home .center{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.home .center img{
    width: 100%;
}

.home .center .center-pics{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.home .center .center-pics img{
    width: 45%;
}

.home .right{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2%;
    margin-top: 5%;
}
/*login */

.login{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.login h1{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.login form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    min-height: fit-content;
}

.login form .form-areas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.login form .form-areas p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
}
.login input{
    max-width: 30rem;
}

.login .btn{
    margin: auto;
    max-width: 40vw;
    
}

.login submit{
    max-width: 40rem;
    margin: auto;
}



/*logout */

.logout{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.logout h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}



/*signup */

.signup{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.signup h1{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.signup form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    min-height: fit-content;
}

.signup form .form-areas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.signup form .form-areas p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
}
.signup input{
    max-width: 30rem;
}

.signup .btn{
    margin: auto;
    max-width: 40vw;
    
}

.signup submit{
    max-width: 40rem;
    margin: auto;
}



/*password_change_form */

.password-change{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.password-change h1{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.password-change form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    min-height: fit-content;
}

.password-change form .form-areas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.password-change form .form-areas p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
}
.password-change input{
    max-width: 30rem;
}

.password-change .btn{
    margin: auto;
    max-width: 40vw;
    
}

.password-change submit{
    max-width: 40rem;
    margin: auto;
}



/*password_reset_form */

.password-reset{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.password-reset h1{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.password-reset form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    min-height: fit-content;
}

.password-reset form .form-areas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.password-reset form .form-areas p{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.password-reset input{
    max-width: 30rem;
}

.password-reset .btn{
    margin: auto;
    max-width: 40vw;
    
}

.password-reset submit{
    max-width: 40rem;
    margin: auto;
}



/*password-reset-complete */

.password-reset-done{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.password-reset-done h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}



/*password_change_form */

.password-reset-confirm{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.password-reset-confirm h1{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.password-reset-confirm form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    min-height: fit-content;
}

.password-reset-confirm form .form-areas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.password-reset-confirm form .form-areas p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
}
.password-reset-confirm input{
    max-width: 30rem;
}

.password-reset-confirm .btn{
    margin: auto;
    max-width: 40vw;
    
}

.password-reset-confirm submit{
    max-width: 40rem;
    margin: auto;
}



/*password-reset-complete */

.password-reset-complete{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.password-reset-complete h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}



/*game-List*/

.game-list{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-list h1{
    margin-top: 1rem;
}

.game-list h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.game-list h2 a{
    color: black;
}

.game-list .game-list-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.game-list .card{
    display: flex;
    width: 40%;
    height: 33vh;
    background-color: lightgrey;
    border: .5px solid black;
    border-radius: 3%;
}

.game-list .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.game-list .top-of-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game-list .title-author{
    width: 100%;
}

.game-list .top-of-card h5 a{
    text-decoration: none;
    color: black;
}

.game-list .bottom-of-card{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.game-list .image{
    display: flex;
    width: 80%;
    height:100%;
    margin-right: 10%;
    justify-content: center;
}

.game-list .game-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60%;
}

.game-list .card-text{
    height: 100%;
    width: 100%;
    text-align: left;
}




/*Game Detail*/

.game-detail{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    justify-content: center;
}


.game-detail .title{
    text-align: center;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.game-detail .title p{
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

.game-detail .image{
    display: flex;
    height: 75%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.game-detail .image img{
    display: flex;
    height: 100%;
}

.game-detail .card-link{
	text-decoration: none;
    font-size: 1rem;
    color: white;
	border: 2px solid grey;
	border-radius: 10px;
	padding: .5rem;
    height: fit-content;
}

.game-detail .body{
    margin-top: 1rem;
    text-align: center;
}


/*action*/

.action{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.action h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.action .game-list-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.action .card{
    display: flex;
    width: 40%;
    height: 33vh;
    background-color: lightgrey;
    border: .5px solid black;
    border-radius: 3%;
}

.action .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.action .top-of-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.action .title-author{
    width: 100%;
}

.action .top-of-card h5 a{
    text-decoration: none;
    color: black;
}

.action .bottom-of-card{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.action .image{
    display: flex;
    width: 80%;
    height:100%;
    margin-right: 10%;
    justify-content: center;
}

.action .game-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60%;
}

.action .card-text{
    height: 100%;
    width: 100%;
    text-align: left;
}


/*adventure*/

.adventure{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.adventure h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.adventure .game-list-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.adventure .card{
    display: flex;
    width: 40%;
    height: 33vh;
    background-color: lightgrey;
    border: .5px solid black;
    border-radius: 3%;
}

.adventure .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.adventure .top-of-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adventure .title-author{
    width: 100%;
}

.adventure .top-of-card h5 a{
    text-decoration: none;
    color: black;
}

.adventure .bottom-of-card{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.adventure .image{
    display: flex;
    width: 80%;
    height:100%;
    margin-right: 10%;
    justify-content: center;
}

.adventure .game-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60%;
}

.adventure .card-text{
    height: 100%;
    width: 100%;
    text-align: left;
}


/*platform*/

.platform{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.platform h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.platform .game-list-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.platform .card{
    display: flex;
    width: 40%;
    height: 33vh;
    background-color: lightgrey;
    border: .5px solid black;
    border-radius: 3%;
}

.platform .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.platform .top-of-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.platform .title-author{
    width: 100%;
}

.platform .top-of-card h5 a{
    text-decoration: none;
    color: black;
}

.platform .bottom-of-card{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.platform .image{
    display: flex;
    width: 80%;
    height:100%;
    margin-right: 10%;
    justify-content: center;
}

.platform .game-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60%;
}

.platform .card-text{
    height: 100%;
    width: 100%;
    text-align: left;
}


/*sim*/

.sim{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sim h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sim .game-list-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.sim .card{
    display: flex;
    width: 40%;
    height: 33vh;
    background-color: lightgrey;
    border: .5px solid black;
    border-radius: 3%;
}

.sim .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.sim .top-of-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sim .title-author{
    width: 100%;
}

.sim .top-of-card h5 a{
    text-decoration: none;
    color: black;
}

.sim .bottom-of-card{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.sim .image{
    display: flex;
    width: 80%;
    height:100%;
    margin-right: 10%;
    justify-content: center;
}

.sim .game-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60%;
}

.sim .card-text{
    height: 100%;
    width: 100%;
    text-align: left;
}


/*******************************************************MEDIA QUERIES****************************************************************/



@media (max-width: 480px) {
    /*game List*/
    .game-list .card{
        width: 100%;
    }

    .game-list .card-body{
        width: 100%;
    }



    /*action*/
    .action .card{
        width: 100%;
    }

    .action .card-body{
        width: 100%;
    }



    /*adventure*/
    .adventure .card{
        width: 100%;
    }

    .adventure .card-body{
        width: 100%;
    }



    /*platform*/
    .platform .card{
        width: 100%;
    }

    .platform .card-body{
        width: 100%;
    }



    /*sim*/
    .sim .card{
        width: 100%;
    }

    .sim .card-body{
        width: 100%;
    }
    

/*Article Detail*/

.game-detail{
    width: 100%;
}

}