{% extends 'base.html' %}
{% block title %}All Games{% endblock title %} 

{% block content %} 
    <div class="game-list">
        <h1>What Will You Play?</h1>
        <h2><a href="{% url 'action' %}">Action</a></h2>
        <div class="game-list-section">
            {% for game in game_list %}
                {% if game.category == 'Action' %}
                    <div class="card" style="background-image: url('/static/{{game.image}}'); background-size:contain; background-repeat: no-repeat;">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'game_detail' game.id %}">{{ game.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{game.author}}</h6>
                                </div>
                            </div>
                            <div class= "game-info">
                                <p class="card-text">{{game.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h2><a href="{% url 'adventure' %}">Adventure</a></h2>
        <div class="game-list-section">
            {% for game in game_list %}
                {% if game.category == 'Adventure' %}
                    <div class="card" style="background-image: url('/static/{{game.image}}'); background-size:contain; background-repeat: no-repeat;">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'game_detail' game.id %}">{{game.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{game.author}}</h6>
                                </div>
                            </div>
                            <div class= "game-info">
                                <p class="card-text">{{game.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h2><a href="{% url 'platform' %}">Platformers</a></h2>
        <div class="game-list-section">
            {% for game in game_list %}
                {% if game.category == 'Platform' %}
                    <div class="card" style="background-image: url('/static/{{game.image}}'); background-size:contain; background-repeat: no-repeat;">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'game_detail' game.id %}">{{game.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{game.author}}</h6>
                                </div>
                            </div>
                            <div class= "game-info">
                                <p class="card-text">{{game.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h2><a href="{% url 'sim' %}">Sims</a></h2>
        <div class="game-list-section">
            {% for game in game_list %}
                {% if game.category == 'Sim' %}
                    <div class="card" style="background-image: url('/static/{{game.image}}'); background-size:contain; background-repeat: no-repeat;">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'game_detail' game.id %}">{{ game.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{ game.author}}</h6>
                                </div>
                            </div>
                            <div class= "game-info">
                                <p class="card-text">{{ game.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>   
    </div>


{% endblock content %}