{% extends 'base.html' %} 

{% block title %}Shake&Bake | Home{% endblock title %} 

{% block content %}
<h1>Welcome to Shake&Bake.com!</h1>
<img class="homepage-pic" src="/static/images/shakenbake.png" alt="shakenbake">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quod? Doloremque suscipit ipsa asperiores quia! Recusandae delectus sint temporibus voluptatem repellat commodi voluptatibus, consectetur excepturi quod odit. Facere, cupiditate et.</p>
{% endblock content %}
