{% extends 'base.html' %} 

{% block title %}Shake&Bake | Home{% endblock title %} 

{% block content %}
<div class="home">
    <div class="left">
        <img src="static/images/asbestos.jpg" alt="asbestos ad">
        <img src="static/images/suit.jpg" alt="asbestos ad">
    </div>
    <div class="center">
        <h1>Welcome to Shake&Bake.com!</h1>
        <img class="homepage-pic" src="/static/images/shakenbake.png" alt="shake&bake">
        <p>Jake and Shane are both former Marine Corps Aviation and met in the Full Stack Development course at San Diego Global Knowledge University. Their goal is to make games by Marines, for Marines. The first and only game in their arsenal is Semper Skate, a game about avoiding higher-ups and responsibility to succeed. </p>
        <div class="center-pics">
            <img src="static/images/wilford.jpg" alt="asbestos ad">
            <img src="static/images/headon.jpg" alt="asbestos ad">
        </div>
    </div>
    <div class="right">
                <img src="static/images/cap_gun.png" alt="asbestos ad">
                <img src="static/images/life_alert.jpg" alt="asbestos ad">
                <img src="static/images/eyeholes.png" alt="asbestos ad">
    </div>
</div>
{% endblock content %}
