{% extends 'base.html' %} 

{% block title %}Shake&Bake | Home{% endblock title %} 

{% block content %}
<div class="home">
    <div class="left">
        <img src="static/images/asbestos.jpg" alt="asbestos ad">
        <img src="static/images/suit.jpg" alt="asbestos ad">
    </div>
    <div class="center">
        <h1>Welcome to Shake&Bake.com!</h1>
        <img class="homepage-pic" src="/static/images/shakenbake.png" alt="shakenbake">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quod? Doloremque suscipit ipsa asperiores quia! Recusandae delectus sint temporibus voluptatem repellat commodi voluptatibus, consectetur excepturi quod odit. Facere, cupiditate et.</p>
        <div class="center-pics">
            <img src="static/images/wilford.jpg" alt="asbestos ad">
            <img src="static/images/headon.jpg" alt="asbestos ad">
        </div>
    </div>
    <div class="right">
                <img src="static/images/cap_gun.png" alt="asbestos ad">
                <img src="static/images/life_alert.jpg" alt="asbestos ad">
                <img src="static/images/eyeholes.png" alt="asbestos ad">
    </div>
</div>
{% endblock content %}
