{% extends 'base.html' %} 

{% block title %}Sims{% endblock title %} 

{% block content %}
<div class="sim">
    <div class="page-photo">
        <h1>Sims</h1>
    </div>
    <div class="game-list-section">
        {% for game in game_list %}
            {% if game.category == 'Sim' %}
                <div class="card">
                    <div class="card-body">
                        <div class="top-of-card">
                            <div class="title-author">
                                <h5 class="card-title"><a href="{% url 'game_detail' game.id %}">{{ game.title|truncatechars:50}}</a></h5>
                            </div>
                        </div>
                        <div class="bottom-of-card">
                            <div class="image" style="background-image: url('/static/{{game.image}}'); background-size:contain; background-repeat: no-repeat;"></div>
                                <div class= "game-info">
                                    <p class="card-text">{{game.body|truncatechars:100}}</p>
                                </div>
                            </div>
                    </div>
                </div>
            {% endif %} 
        {% endfor %}
    </div>  
{% endblock content %}